
body {
    max-width: 100%;
    overflow: hidden;
}

/* Top Bar CSS */
#topBar {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0px);
    width: calc(10px + 100%);
    height: 32px;
    background-color: #222;
    box-shadow: 0px 0px 10px 1px #000;
    z-index: 100000;
}

#topBarInner {
    position: absolute;
    left: 5px;
    right: 5px;
    height: 100%;
    z-index: inherit;
}

#topBar_money_wrapper {
    position: absolute;
    left: 50%;
    top: calc(46px);
    transform: translate(-50%, -50%);
    width: calc(20% + 30px);
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    background-color: #222;
    box-shadow: 0px 0px 10px 1px #000;
    z-index: 99999;
}

#topBar_money {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

.topBar_button {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100% - 2px);
    width: 80px;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #222;
    box-shadow: 0px 0px 3px 1px #555 inset;
    user-select: none;
    text-align: center;
    font-size: 100%;
    color: #FFF;
    z-index: inherit;
}

/* View CSS */
#view_wrapper {
    position: absolute;
    left: 0px;
    top: 32px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

#middle_wrapper {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0px);
    width: calc(100px + 20%);
    aspect-ratio: 0.95;
}

#versionText {
    position: absolute;
    left: 5px;
    bottom: 2px;
    width: 80px;
    height: 18px;
    font-size: 110%;
    user-select: none;
    color: #FFF;
    -webkit-text-stroke: 0.5px #000
}

/* Main View */

#mainView_backgroundImage {
    position: absolute;
    background-image: url("./Images/The\ Perfect\ Scene.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(8px);
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -10000;
}

#mainButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    aspect-ratio: 1;
    background-image: url("./Images/The\ Perfect\ Parts.png");
    background-repeat: no-repeat;
    background-size: 100%;
    user-select: none;
    -webkit-filter: drop-shadow(0px 5px 5px #222);
    filter: drop-shadow(0px 5px 5px #222);
}

#selectedRecipe {
    position: absolute;
    right: 75px;
    bottom: 2px;
    width: 60px;
    height: 56px;
    font-size: 100%;
}

#selectRecipe {
    position: absolute;
    right: 5px;
    bottom: 2px;
    width: 64px;
    height: 36px;
}

/* Stats View */

#statsView {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #222;
    /*box-shadow: 0px 0px 10px 3px #AAA inset;*/
    overflow-x: hidden;
    overflow-y: auto;
}

#statsView_inner {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
}

.statsView_stat {
    float: left;
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    box-shadow: 0px 0px 3px 2px #555 inset;
    text-align: left;
    font-size: 100%;
    color: #AAA;
}
